%h1 Listing descriptors

%table
  %thead
    %tr
      %th Level
      %th Description
      %th Order
      %th
      %th
      %th

  %tbody
    - @descriptors.each do |descriptor|
      %tr
        %td= descriptor.level_id
        %td= descriptor.description
        %td= descriptor.order
        %td= link_to 'Show', descriptor
        %td= link_to 'Edit', edit_descriptor_path(descriptor)
        %td= link_to 'Destroy', descriptor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Descriptor', new_descriptor_path
