%h1 Listing levels

%table
  %thead
    %tr
      %th Indicator
      %th Order
      %th
      %th
      %th

  %tbody
    - @levels.each do |level|
      %tr
        %td= level.indicator_id
        %td= level.order
        %td= link_to 'Show', level
        %td= link_to 'Edit', edit_level_path(level)
        %td= link_to 'Destroy', level, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Level', new_level_path
