= simple_form_for(@rubric) do |f|
  = f.error_notification

  .form-inputs
    = f.input :creator_id
    = f.input :name
    = f.input :description
    = f.input :active

  .form-actions
    = f.button :submit
