%h1 Listing rubrics

%table
  %thead
    %tr
      %th Created by
      %th Reviewee
      %th Closed
      %th Closed by
      %th Closed at
      %th
      %th
      %th

  %tbody
    - @rubrics.each do |rubric|
      %tr
        %td= rubric.created_by
        %td= rubric.reviewee
        %td= rubric.closed
        %td= rubric.closed_by
        %td= rubric.closed_at
        %td= link_to 'Show', rubric
        %td= link_to 'Edit', edit_rubric_path(rubric)
        %td= link_to 'Destroy', rubric, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rubric', new_rubric_path
