%h1 Listing rubrics

%table
  %thead
    %tr
      %th Created by
      %th Name
      %th Description
      %th Active
      %th
      %th
      %th

  %tbody
    - @rubrics.each do |rubric|
      %tr
        %td= rubric.created_by_id
        %td= rubric.name
        %td= rubric.description
        %td= rubric.active
        %td= link_to 'Show', rubric
        %td= link_to 'Edit', edit_rubric_path(rubric)
        %td= link_to 'Destroy', rubric, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Rubric', new_rubric_path
