%p#notice= notice

%p
  %b Created by:
  = @indicator.creator
%p
  %b Rubric:
  = @indicator.rubric_id
%p
  %b Active:
  = @indicator.active
%p
  %b Description:
  = @indicator.description
%p
  %b Order:
  = @indicator.order

= link_to 'Edit', edit_indicator_path(@indicator)
\|
= link_to 'Back', indicators_path
