= simple_form_for(@review) do |f|
  = f.error_notification

  .form-inputs
    = f.input :creator_id
    = f.input :reviewer_id
    = f.input :reviewee_id
    = f.input :rubric_id
    = f.input :active
    = f.input :document

  .form-actions
    = f.button :submit
