%p#notice= notice

%p
  %b Creator:
  = @review.creator_id
%p
  %b Reviewer:
  = @review.reviewer_id
%p
  %b Reviewee:
  = @review.reviewee_id
%p
  %b Rubric:
  = @review.rubric_id
%p
  %b Active:
  = @review.active
%p
  %b Document:
  = @review.document

= link_to 'Edit', edit_review_path(@review)
\|
= link_to 'Back', reviews_path
