!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Simple Review"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag

  %body
    %header
      - if admin_signed_in?
        = render 'authenticated_navbar'
      - else
        = render 'unauthenticated_navbar'
    %main{role: "main"}
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %div{class: "alert-box #{name.to_s == 'notice' ? 'success' : 'alert'}",
               "data-alert" => ""}
            = content_tag :div, msg
            %a.close{href: "#"} ×
      = yield
